
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.card {
  border-radius: 20px;
  position: relative;
  height: 450px;
  width: 900px;
  margin-top:  12% ;
  margin-left: 25% ;
  margin-right: 25%;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  float: left;
  position: relative;
  left: 10px;
  top: -50px;
  height: 520px;
  width: 630px;
  
  object-fit: cover;
  object-position: center;
}

.pokemon_image_big {
    position: relative;
	left: 50%;
	top: 50%;
	height: 110%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.right {
  margin-left: 600px;
  margin-right: 20px;
 }

.pokemon_name_info {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.5em;
  color: #4B4B4B;
  text-align: left;
  margin-block-end: 10px;
  margin-block-start: 20px;
  display: inline-block;

}


.type {
  display: flex;
}
.pokemon_type {
  font-weight: 400;
  margin-top: 0;
  min-height: 30px;
  width: calc(50% - 15px);
  text-align: center;
  border-radius: 15px 0 15px 0;
  color: white;
  
   
}


.separator {
  margin-left:10px;
  border: 1px solid #C3C3C3;
}
.pokemon_description {
  height: 100px;
  font-size: 1rem;
  line-height: 130%;
  color: #4B4B4B;
  margin-bottom: 20px;
}

.icon_container{

  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  margin-top: 40px;
}

.weight_info{
  margin: 5px auto;
  font-size: 1em;
}
.height_info{
  margin: 5px auto;
  font-size: 1em;
}

.pokemon_id_num {
  font-weight: 400;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: white;
  position: absolute;
  left: 30px;
  bottom: -120px;
  font-size: 6rem;
  color: #4B4B4B;
  
}

.pokemon_number {
  font-weight: bold;
  -webkit-text-stroke-width: 0.5px; 
  -webkit-text-stroke-color: white;
  position: absolute;
  left: 30px;
  top:-50px;
  font-size: 2rem;
  color: #4B4B4B;
}


.container_hp {
  width: 257px;
margin-left: 20px;  
}
.stat_name {
  font-size: 20px;
margin-bottom: 10px;
margin-top:15px;
}


.progress1 {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 1), 0 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 1), 0 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 1), 0 1px rgba(0, 0, 0, 1);
  
  
}

.progress-bar1 {
  height: 8px;
  border-radius: 30px;

  border-radius: 30px 0px 0px 30px;
  background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
  
}

.progress-moved .progress-bar1 {
  width: 85%; 
  background-color: #EF476F;  
  animation: progress1Animation 6s;
  border-radius: 30px;

}

@keyframes progress1Animation {
  0%   { width: 5%; background-color: #F9BCCA;}
  100% { width: 85%; background-color: #EF476F; }
}
@keyframes progress2Animation {
  0%   { width: 5%; background-color: #F9BCCA;}
  100% { width: 85%; background-color: #9547ef; }
}
@keyframes progress3Animation {
  0%   { width: 5%; background-color: #F9BCCA;}
  100% { width: 85%; background-color:#4cd964 ; }
}

$green: #4cd964;
$turquoise: #5ac8fa;
$blue: #007aff;
$light-blue: #7DC8E8;
$purple: #5856d6;
$red: #ff2d55;


@keyframes colorAnimation {
  0% { 
    background-image: 
    linear-gradient(to right, $green, $turquoise, $blue, $light-blue, $purple, $red);
  }
  20% { 
    background-image: 
    linear-gradient(to right, $turquoise, $blue, $light-blue, $purple, $red, $green);
  }
  40% { 
    background-image: 
    linear-gradient(to right, $blue, $light-blue, $purple, $red, $green, $turquoise);
  }
  60% { 
    background-image: 
    linear-gradient(to right, $light-blue, $purple, $red, $green, $turquoise, $blue);
  }
  100% { 
    background-image: 
    linear-gradient(to right, $purple, $red, $green, $turquoise, $blue, $light-blue);
  }
}


.arrow {
	position: absolute;
  top: 45%;
 
	width: 50px;
	height: 50px;
	background: transparent;
	border-top: 5px solid #4B4B4B;
	border-right: 5px solid #4B4B4B;
	box-shadow: 0 5px -5px lightgray;
	transition: all 200ms ease;
	
	&.arrow_left {
		left: -150px;
		transform: translate3d(0,-50%,0) rotate(-135deg);
	}

	&.arrow_right {
		right: -150px;
		transform: translate3d(0,-50%,0) rotate(45deg);
	}
	
	&:hover {
		border-color: #9547ef;
		box-shadow: 5px -5px 0 #4B4B4B;
	}
	
}
